@import '../../../styles/index.scss';

.character {
  display: grid;
  grid-template-columns: 30% 1fr;
  overflow: hidden;
  border-radius: getspacing(1.6);
  width: 100%;
  height: getspacing(18);
  box-shadow: var(--shadow-1);
  transition: 0.3s;
  cursor: pointer;

  .photocontainer {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .info {
    padding-top: getspacing(1);
    padding-bottom: getspacing(1);
    padding-left: getspacing(1.9);

    &-title {
      font-size: getspacing(2.4);
    }

    &-statusAndSpecie {
      @include flex('',flex-start);
      margin-bottom: getspacing(1.2)
    }

    &-lastKnowLocation {
      padding-bottom: getspacing(1)

      &-title {
        color: var(--color-primary-grey);
      }
    }

    &-episodes h4 {
      color: var(--color-primary-grey);
    }
  }
}

.character:hover {
  transform: scale(1.03);
}

.character.dark {
  box-shadow: var(--shadow-1);
}
