
:root {
 --color-primary-dark: #242324;
 --color-primary-light: #f9f8f9;
 --color-primary-grey: #474647;
 
 --color-primary-green: #3fc657;
 --color-secundary-grey: #929e9e;
 --spacing-unit: 10px;

 --shadow-1: 2px 2px 4px 0 rgba(235, 230, 239, 1);
 --shadow-2: 2px 2px 4px 0 rgba(31, 31, 32, 0.459);
}