@import '../../../styles/index.scss';

.toggle {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 4px;
}

input[type="checkbox"].checkbox {
  appearance: none;
  position: relative;
  vertical-align: 2px;
  outline: none;
  border-radius: 1rem;

  width: getspacing(8.6);
  height: getspacing(4);
  background: var(--color-primary-grey);
  transition: all 0.3s ease;
  cursor: pointer;
}

input[type="checkbox"].checkbox:checked {
  background: var(--color-primary-green);
}

input[type="checkbox"].checkbox:checked + label {
  left: getspacing(5.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .egg {
    opacity: 1;
    transform: rotate(180deg), translateX(3px);
  }
}

input[type="checkbox"].checkbox + label {
  position: absolute;
  left: getspacing(1.4);
  top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  width: getspacing(3.6);
  height: getspacing(3.6);
  opacity: 0.9;
  transition: all 0.3s ease;
  cursor: pointer;

  .egg {
    opacity: 0.5;
    transition: all 0.3s ease;
  }
}

.toggleContainer {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: scale(.4);
  top:getspacing(5.5);

  @media (min-width: 768px) {
    right: 5%;
    top: 15%;
    transform: scale(.7);
  }
  
}

.toggleContainer > span {
  margin-top: getspacing(2.4);
  font-size: 1.2em;
  transition: color 0.3s ease;
  cursor: pointer;
}

