@import "../../../styles/index.scss";

.characterList {
  @include flex(column, flex-start);

  height: 100%;

  &-header {
    padding-top: getspacing(1.5);
    padding-bottom: getspacing(2.8);
    transition: 1s;
    cursor: pointer;
  }

  &-header:hover {
    transform: scale(1.1);
  }

  &-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
    padding: 1.5rem;
    width: 100%;
  }
}
