* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  padding: 1rem 2rem;
  width: 100vw;
  height: 100vh;
  transition: all 0.3s ease;
}

.lightMode {
  background: #f9f8f9;
}

.darkMode {
  background: #242324;
}
